html {
    scroll-behavior: smooth;
  }
  
  .footer {
    width: 100vw;
    background-color: #1b1b1b;
    &_cont {
      justify-content: space-between;
      padding: 2.4rem 4.8rem;
      align-items: center;
      color: white;
      & .left {
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }
  
  .nav {
    &_logo {
      text-transform: uppercase;
      font-size: 2.4rem;
      font-weight: 800;
      color: white;
      position: absolute;
      left: 0;
      margin: 4.8rem;
      z-index: 901;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        color: #d6efd8;
        transform: scale(1.1) rotate(2deg);
      }
    }
    width: 100vw;
    padding: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.4rem;
    position: fixed;
    list-style: none;
    z-index: 900;
    & li a {
      text-decoration: none;
      font-size: 2.4rem;
      font-weight: 400;
      color: #fff;
      transition: 0.2s;
      &:hover {
        color: #d6efd8;
        font-weight: 600;
      }
    }
    transition: 1s;
    &.sticky {
      gap: 3.2rem;
      font-size: 1.2rem;
      padding: 3.8rem;
      background-color: var(--bg-main);
    }
    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
  }
  
  @keyframes visible {
    0% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  