// 900px
@media (max-width: 56.25em) {
  .about {
    &_cnt {
      gap: 2.4rem;
    }
  }
}

// 818px
@media (max-width: 51.125em) {
  .home {
    &_gallery {
      &.grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1fr, 5);
      }
    }
  }
}

@media (max-width: 31.9375em) {
  .about {
    &_text {
      font-size: 1.5rem;
    }
  }
}
