{% extends 'main.html' %} {% block head %}
<link rel="stylesheet" href="/static/pages/account/main.css" />
{% endblock %} {% block body %}
<section class="section acc_login">
  <div class="acc_login_cnt">
    <div class="left log_btn_cnt">
      <div class="acc_login_login_heading log_btn">
        <p>Sign In</p>
      </div>
      <div class="acc_login_signup_heading log_btn">
        <p>Sign Up</p>
      </div>
    </div>
    <div class="right">
      <div class="acc_login_login">
        <div class="acc_login_login_form">
          <form
            action="/acc_login_submit"
            method="post"
            class="acc_login_login_form_holder"
          >
            <div class="acc_login_login_form_input">
              <input
                type="text"
                name="email"
                id="email"
                placeholder="wacky@email.com"
              />
            </div>
            <div class="acc_login_login_form_input">
              <input
                type="password"
                name="password"
                id="password"
                placeholder="password@123"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="acc_login_alert success hidden">Success!</div>
    <div class="acc_login_alert error">Error...</div>
  </div>
</section>
{% endblock %} {% block scripts %}
<script src="/static/js/pages/account.js"></script>
{% endblock %}
