{% extends 'main.html' %} {% block head %}
<link rel="stylesheet" href="/static/pages/account/main.css" />
{% endblock %} {% block body %} {% if !current_user.is_authenticated %}
<section class="section acc_login">
  <div class="acc_login_cnt">
    <div class="left log_btn_cnt">
      <div class="acc_login_login_heading log_btn">
        <p>Sign In</p>
      </div>
      <div class="acc_login_signup_heading log_btn">
        <p>Sign Up</p>
      </div>
    </div>
    <div class="right">
      <div class="acc_login_login">
        <div class="acc_login_login_form">
          <form
            action="/acc_login_submit"
            method="post"
            class="acc_login_login_form_holder"
          >
            <div class="acc_login_login_form_input">
              <input
                type="text"
                name="username"
                id="username"
                placeholder="username"
              />
            </div>
            <div class="acc_login_login_form_input">
              <input
                type="password"
                name="password"
                id="password"
                placeholder="password@123"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="acc_login_alert success hidden">Success!</div>
    <div class="acc_login_alert error hidden">Error...</div>
    <div class="acc_login_alert neutral hidden">Processing...</div>
  </div>
</section>
{% else %}
<section class="acc_logged">
  <div class="acc_logged_hold">
    <div class="acc_logged_cnt">
      <p class="acc_logged_msg">
        You're already logged in, {{ current_user.username }}
      </p>
      <p class="acc_logged_logout_btn">Log Out</p>
    </div>
  </div>
</section>
{% endif %} {% endblock %} {% block scripts %}
<script src="/static/js/pages/account.js"></script>
{% endblock %}
