{% extends 'main.html' %} {% block head %}
<link rel="stylesheet" href="/static/pages/forum/main.css" />
{% endblock %} {% block body %}
<section class="section hero">
  <div class="chatbox_cnt">
    <div class="chatbox_window">
        P{}
    </div>
    <div class="chatbox_input">
      {% if current_user.is_authenticated %}
      <form class="chatbox_input_form">
        <input
          type="text"
          placeholder="Input text here"
          class="chatbox_input_form_input"
        />
      </form>
      {% else %}
      <p class="chatbox_input_form_input">Please log in to chat</p>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %} {% block scripts %}
<script src="/static/js/pages/forum.js"></script>
{% endblock %}
