{% extends 'main.html' %} {% block head %}
<link rel="stylesheet" href="/static/pages/forum/main.css" />
{% endblock %} {% block body %}
<section class="section hero">
  <div class="chatbox_cnt">
    <div class="chatbox_window"></div>
    <div class="chatbox_input">
      <form action="/action/send-chat" class="chatbox_input_form">
        <input type="text" placeholder="Input text here" />
      </form>
    </div>
  </div>
</section>
{% endblock %} {% block scripts %}
<script src="/static/js/pages/forum.js"></script>
{% endblock %}
