{% extends 'main.html' %} {% block head %}
<link rel="stylesheet" href="/static/pages/home/main.css" />
{% block nav %}
<section class="nav hidden">
  <ul class="nav list">
    <li><a href="home">Home</a></li>
    <li><a href="forum">Forum</a></li>
    <li><a href="account">Account</a></li>
  </ul>
  <p class="nav_logo">denzellicious</p>
</section>
{% endblock %} {% endblock %} {% block body %}
<section class="section hero">
  <div class="loading_screen">
    <div class="bg">
      <div class="title_main flex">
        <h1 class="heading_primary top">denzellicious</h1>
        <h2 class="heading_secondary bottom">
          because talking about him is yummy
        </h2>
        <a class="learn_more link" href="#about">learn more</a>
      </div>
    </div>
    <div class="bg_skip"></div>
    <div class="bg_trans"></div>
    <div class="bg_intro">
      <p class="btn_skip">Skip Intro</p>
      <div class="title">
        <h1 class="heading_primary top">fellow denzellite</h1>
        <h2 class="heading_secondary bottom">welcome</h2>
      </div>
    </div>
    <div class="car">
      <img
        src="static/media/img/home/denzcarside.webp"
        alt="denzelle car"
        class="denzelle side"
      />
      <img
        src="static/media/img/home/denzcarface.webp"
        alt="denzelle car"
        class="denzelle face"
      />
      <div class="denzelle smile_container">
        <img
          src="static/media/img/home/denzcarfacesmile.webp"
          alt="denzelle car"
          class="denzelle smile"
        />
      </div>
    </div>
    <div class="road"></div>
  </div>
</section>
<section class="section margin about nodis" id="about">
  <div class="heading">
    <p class="heading_text">About Me</p>
  </div>
  <div class="container">
    <div class="about_cnt grid col_2 margin_rl_xl">
      <div class="about_img_cnt">
        <img
          src="/static/media/img/home/denzcarfacesmile.webp"
          class="about_img"
          alt=""
        />
      </div>
      <div class="about_text">
        Fellow greetings! My name is Denzelle, the allseeing warrior and the
        ultimate king of the Denzellites, citizens in the kingdom of Denzus! It
        appears you have stumbled into my humble fanpage, how delightful! Here
        you will find all the information you must need to know about me: my
        life, my works, and my kingdom. Feel free to interact with my other
        followers in this safe community all about me! Enjoy your stay, and
        remember, Denzelle is always watching!
      </div>
    </div>
  </div>
</section>
<section class="section margin gallery">
  <div class="heading op">
    <p class="heading_text">Gallery</p>
  </div>
  <div class="home_gallery grid">
    <div class="gallery_pic_cnt">1</div>
    <div class="gallery_pic_cnt">2</div>
    <div class="gallery_pic_cnt">3</div>
    <div class="gallery_pic_cnt">4</div>
    <div class="gallery_pic_cnt">5</div>
    <div class="gallery_pic_cnt">6</div>
    <div class="gallery_pic_cnt">7</div>
    <div class="gallery_pic_cnt">8</div>
    <div class="gallery_pic_cnt">9</div>
    <div class="gallery_pic_cnt">10</div>
  </div>
</section>

{% endblock %} {% block scripts %}
<script src="/static/js/pages/home.js"></script>
{% endblock %}
