@media (max-width: 58.75em) {
  .chatbox {
    &_cnt {
      width: 60rem;
    }
  }
}

@media (max-width: 35em) {
  .chatbox {
    &_cnt {
      width: 40rem;
    }
  }
}

@media (max-height: 42.5em) {
  .chatbox {
    &_cnt {
      transform: translate(-50%, -50%) scale(0.8);
    }
  }
}
